<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/auth.css') }}">
    <script defer src="{{ url_for('static', filename='js/auth.js') }}"></script>
</head>

<body>
<div class="auth-page">
<div class="auth-container">

    <div class="tabs">
        <div class="tab active" id="loginTab">Вход</div>
        <div class="tab" id="registerTab">Регистрация</div>
    </div>

    <!-- LOGIN -->
    <form id="loginForm" class="form">
        <input type="text" name="username" placeholder="Логин">
        <div class="error" id="login_username_error"></div>

        <input type="password" name="password" placeholder="Пароль">
        <div class="error" id="login_password_error"></div>

        <button type="submit">Войти</button>
    </form>

    <!-- REGISTER -->
    <form id="registerForm" class="form">
        <input type="text" name="username" placeholder="Логин">
        <div class="error" id="reg_username_error"></div>

        <input type="text" name="name" placeholder="Имя">
        <div class="error" id="reg_name_error"></div>

        <input type="password" name="password" placeholder="Пароль">
        <div class="error" id="reg_password_error"></div>

        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
</div>

</body>
</html>