<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пройденные тесты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/completed.css') }}">
</head>
<body>

<header class="header">
    <div class="logo">MindScape</div>

    <nav class="nav">
        <a href="/">Каталог тестов</a>
        <a href="/completed" class="active">Пройденные тесты</a>
        <a href="/portrait">Цифровой портрет</a>
    </nav>

    <div class="user-panel">
        <span class="username">{{ username }}</span>
        <a href="/logout" class="logout">Выйти</a>
    </div>
</header>

<main>
    <h2>Пройденные тесты</h2>
        <div class="tests">
            {% for test in tests %}
                <div class="test-card-completed">

                    <div class="test-title">{{ test[1] }}</div>

                    <div class="card-buttons">
                        <a href="/test/{{ test[0] }}" class="btn">
                            Результат
                        </a>

                        <a href="/retake/{{ test[0] }}" class="btn">
                            Пройти заново
                        </a>
                    </div>

                </div>
            {% endfor %}
        </div>
</main>

</body>
</html>