<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>
<header>
    <h1>🧠 Психологические тесты</h1>
    <!-- <nav>
        {% if username %}
            <span>Привет, {{ username }}!</span>
            <a href="/logout">Выйти</a>
        {% else %}
            <a href="/login">Войти</a>
            <a href="/register">Регистрация</a>
        {% endif %}
    </nav> -->
    <!-- <a href="#" onclick="openModal('login')">Войти</a>
    <a href="#" onclick="openModal('register')">Регистрация</a> -->
    {% if username %}
        <span>Привет, {{ username }}</span>
        <a href="/profile">Профиль</a>
        <a href="/logout">Выйти</a>
    {% else %}
        <a href="#" onclick="openModal('login')">Войти</a>
        <a href="#" onclick="openModal('register')">Регистрация</a>
    {% endif %}
</header>

    <main>

        <h2>Каталог тестов</h2>

        {% for topic, test_list in tests.items() %}
            <div class="category">
                <h3>{{ topic }}</h3>
                <div class="tests">
                    {% for test in test_list %}
                        <a href="/test/{{ test.id }}" class="test-card">
                            {{ test.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        </div>

    </main>
    <div id="authModal" class="modal hidden">
        <div class="modal-content">

            <div class="tabs">
                <input type="radio" name="tab" id="loginTab" checked>
                <label for="loginTab">Вход</label>

                <input type="radio" name="tab" id="registerTab">
                <label for="registerTab">Регистрация</label>
            </div>

            <!-- Вход -->
            <form id="loginForm" class="form">
                <input type="text" name="username" placeholder="Логин">
                <div class="error" id="login_username_error"></div>

                <input type="password" name="password" placeholder="Пароль">
                <div class="error" id="login_password_error"></div>

                <button type="submit">Войти</button>
            </form>

            <!-- Регистрация -->
            <form id="registerForm" class="form hidden">
                <input type="text" name="username" placeholder="Логин">
                <div class="error" id="reg_username_error"></div>

                <input type="text" name="name" placeholder="Имя">
                <div class="error" id="reg_name_error"></div>

                <input type="password" name="password" placeholder="Пароль">
                <div class="error" id="reg_password_error"></div>

                <button type="submit">Зарегистрироваться</button>
            </form>

            <button onclick="closeModal()">✖</button>

        </div>
    </div>
    <script>
        function openModal(type) {
            document.getElementById('authModal').classList.remove('hidden')

            if (type === 'login') {
                document.getElementById('loginTab').checked = true
                switchForm()
            } else {
                document.getElementById('registerTab').checked = true
                switchForm()
            }
        }

        function closeModal() {
            document.getElementById('authModal').classList.add('hidden')
        }

        document.getElementById('loginTab').addEventListener('change', switchForm)
        document.getElementById('registerTab').addEventListener('change', switchForm)

        function switchForm() {
            const isLogin = document.getElementById('loginTab').checked

            document.getElementById('loginForm').classList.toggle('hidden', !isLogin)
            document.getElementById('registerForm').classList.toggle('hidden', isLogin)
        }

        // LOGIN
        document.getElementById('loginForm').onsubmit = async (e) => {
            e.preventDefault()

            let formData = new FormData(e.target)

            let res = await fetch('/login', {
                method: 'POST',
                body: formData
            })

            let data = await res.json()

            clearErrors()

            if (data.success) {
                location.reload()
                // window.location.href = "/profile"

            } else {
                for (let key in data.errors) {
                    document.getElementById(`login_${key}_error`).innerText = data.errors[key]
                }
            }
        }

        // REGISTER
        document.getElementById('registerForm').onsubmit = async (e) => {
            e.preventDefault()

            let formData = new FormData(e.target)

            let res = await fetch('/register', {
                method: 'POST',
                body: formData
            })

            let data = await res.json()

            clearErrors()

            if (data.success) {
                location.reload()
                // window.location.href = "/profile"
                

            } else {
                for (let key in data.errors) {
                    document.getElementById(`reg_${key}_error`).innerText = data.errors[key]
                }
            }
        }

        function clearErrors() {
                document.querySelectorAll('.error').forEach(e => e.innerText = "")
            }
            // let res = await fetch('/register', {
            //     method: 'POST',
            //     body: formData
            // })

            // if (!res.ok) {
            //     console.error("Ошибка сервера")
            //     return
            // }

            // let data = await res.json()
    </script>
</body>
</html>