<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>
<header class="header">
    <div class="logo">MindScape</div>

    <nav class="nav">
        <a href="/" class="active">Каталог тестов</a>
        <a href="/completed">Пройденные тесты</a>
        <a href="/portrait">Цифровой портрет</a>
    </nav>

        <div class="user-panel">
        {% if username %}
            <span class="username">Привет, {{ username }}</span>
            <a href="/logout" class="logout">Выйти</a>
        {% else %}
            <a href="/auth">Войти</a>
        {% endif %}
        
    </div>
</header>

    <main>

        <h2>Каталог тестов</h2>

        {% for topic, test_list in tests.items() %}
            <div class="category">
                <h3>{{ topic }}</h3>
                <div class="tests">
                    {% for test in test_list %}
                        <a href="/test/{{ test.id }}" 
                        class="test-card {% if test.id in completed_tests %}completed{% endif %}">
                            
                            <div class="test-title">{{ test.title }}</div>
                            <div class="test-desc">{{ test.description }}</div>

                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        </div>

    </main>
    
    <script>
       
        function openModal(type) {
    const modal = document.getElementById('authModal');
    modal.classList.remove('hidden');

    if(type === 'login') {
        document.getElementById('loginTab').checked = true;
    } else {
        document.getElementById('registerTab').checked = true;
    }

    switchForm();
}

function closeModal() {
    document.getElementById('authModal').classList.add('hidden');
}

// переключение форм
function switchForm() {
    const isLogin = document.getElementById('loginTab').checked;
    document.getElementById('loginForm').classList.toggle('hidden', !isLogin);
    document.getElementById('registerForm').classList.toggle('hidden', isLogin);
}

// слушаем изменение вкладок
document.getElementById('loginTab').addEventListener('change', switchForm);
document.getElementById('registerTab').addEventListener('change', switchForm);

// закрытие при клике вне модалки
document.getElementById('authModal').addEventListener('click', function(e) {
    if(e.target === this) closeModal();
});
        // LOGIN
        document.getElementById('loginForm').onsubmit = async (e) => {
            e.preventDefault()

            let formData = new FormData(e.target)

            let res = await fetch('/login', {
                method: 'POST',
                body: formData
            })

            let data = await res.json()

            clearErrors()

            // if (data.success) {
            //     location.reload()
            if (data.success) {
    window.location.href = data.redirect
}
                // window.location.href = "/profile"

            } else {
                for (let key in data.errors) {
                    document.getElementById(`login_${key}_error`).innerText = data.errors[key]
                }
            }
        }

        // REGISTER
        document.getElementById('registerForm').onsubmit = async (e) => {
            e.preventDefault()

            let formData = new FormData(e.target)

            let res = await fetch('/register', {
                method: 'POST',
                body: formData
            })

            let data = await res.json()

            clearErrors()

            // if (data.success) {
            //     location.reload()
            if (data.success) {
    window.location.href = data.redirect
}
                // window.location.href = "/profile"
                

            } else {
                for (let key in data.errors) {
                    document.getElementById(`reg_${key}_error`).innerText = data.errors[key]
                }
            }
        }

        function clearErrors() {
                document.querySelectorAll('.error').forEach(e => e.innerText = "")
            }

    </script>

</body>
</html>